body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

/* my stuff, will clear out above stuff as needed*/

:root {
  --squareSize: 50px;
  --dotSize: 8px;
}

.squareContainer {
  width: var(--squareSize);
  height: var(--squareSize);
  float: left;
}

.dot {
  width: var(--dotSize);
  height: var(--dotSize);
  margin-left: calc(var(--dotSize) / -2);
  margin-top: calc(var(--dotSize) / -2);
  background-color: #555555;
  border-radius: calc(var(--dotSize) / 2);
  position: relative;
  float: left;
}

.dot.topLeft {
  left: 0px;
  top: 0px;
}

.dot.topRight {
  left: calc(var(--squareSize) - (var(--dotSize) / 2));
  top: 0px;
}

.dot.bottomLeft {
  left: calc(var(--dotSize) / -2);
  top: calc(var(--squareSize));
}

.dot.last.bottomLeft {
  margin-left: calc(var(--dotSize) / -1);
}

.dot.bottomRight {
  left: calc(var(--squareSize) - (var(--dotSize)));
  top: calc(var(--squareSize));
}

.line {
  width: 0;
  height: 0;
  opacity: 0.5;
  position: absolute;
}

.line.top {
  border-left: calc(var(--squareSize) / 2) solid transparent;
  border-right: calc(var(--squareSize) / 2) solid transparent;
  border-top: calc(var(--squareSize) / 2) solid #999;
}

.line.top.hover {
  border-top: calc(var(--squareSize) / 2) solid #ccc;
}

.line.right {
  margin-left: calc(var(--squareSize) / 2);
  border-right: calc(var(--squareSize) / 2) solid #999;
  border-bottom: calc(var(--squareSize) / 2) solid transparent;
  border-top: calc(var(--squareSize) / 2) solid transparent;
}

.line.right.hover {
  border-right: calc(var(--squareSize) / 2) solid #ccc;
}

.line.bottom {
  margin-top: calc(var(--squareSize) / 2);
  border-left: calc(var(--squareSize) / 2) solid transparent;
  border-right: calc(var(--squareSize) / 2) solid transparent;
  border-bottom: calc(var(--squareSize) / 2) solid #999;
}

.line.bottom.hover {
  border-bottom: calc(var(--squareSize) / 2) solid #ccc;
}

.line.left {
  border-left: calc(var(--squareSize) / 2) solid #999;
  border-bottom: calc(var(--squareSize) / 2) solid transparent;
  border-top: calc(var(--squareSize) / 2) solid transparent;
}

.line.left.hover {
  border-left: calc(var(--squareSize) / 2) solid #ccc;
}
