body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

/* my stuff, will clear out above stuff as needed*/

:root {
  --squareSize: 50px;
}

.squareContainer {
  width: var(--squareSize);
  height: var(--squareSize);
  background-image: url(./images/dot.svg);
  background-repeat: no-repeat;
  float: left;
}

.line {
  width: 0;
  height: 0;
  opacity: 0.5;
  position: absolute;
}

.lineTop {
  border-left: calc(var(--squareSize) / 2) solid transparent;
  border-right: calc(var(--squareSize) / 2) solid transparent;
  border-top: calc(var(--squareSize) / 2) solid #555;
}

.lineTop.hover {
  border-top: calc(var(--squareSize) / 2) solid #777;
}

.lineRight {
  margin-left: calc(var(--squareSize) / 2);
  border-right: calc(var(--squareSize) / 2) solid #555;
  border-bottom: calc(var(--squareSize) / 2) solid transparent;
  border-top: calc(var(--squareSize) / 2) solid transparent;
}

.lineRight.hover {
  border-right: calc(var(--squareSize) / 2) solid #777;
}

.lineBottom {
  margin-top: calc(var(--squareSize) / 2);
  border-left: calc(var(--squareSize) / 2) solid transparent;
  border-right: calc(var(--squareSize) / 2) solid transparent;
  border-bottom: calc(var(--squareSize) / 2) solid #555;
}

.lineBottom.hover {
  border-bottom: calc(var(--squareSize) / 2) solid #777;
}

.lineLeft {
  border-left: calc(var(--squareSize) / 2) solid #555;
  border-bottom: calc(var(--squareSize) / 2) solid transparent;
  border-top: calc(var(--squareSize) / 2) solid transparent;
}

.lineLeft.hover {
  border-left: calc(var(--squareSize) / 2) solid #777;
}
